    .header {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 91%;
    margin: 0 auto;
    }
    .buttons-wrapper{
        display: flex;
        justify-content: space-between;
        gap:10px;
    }
    .logo-wrapper{
        display: flex;
    }
@media (min-width: 2056px) {
 .header {
   width: 100%;
}
.content {
   margin-top: 214px;
}

}